@using Microsoft.AspNetCore.Http
@{
        Layout = null;
        string activeClass = string.IsNullOrEmpty(Context.Request.Path.Value) ? "Dashboard" : Context.Request.Path.Value.Split('/')[1];
}

<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="~/sneat/assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Admin Dashboard</title>

    <meta name="description" content="" />

    <link rel="icon" type="image/x-icon" href="~/sneat/assets/img/favicon/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/sneat/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="~/sneat/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/sneat/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/sneat/assets/css/demo.css" />

    <link rel="stylesheet" href="~/sneat/assetsvendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="~/sneat/assets/vendor/libs/apex-charts/apex-charts.css" />
    <script src="~/sneat/assets/vendor/js/helpers.js"></script>
    <script src="~/sneat/assets/js/config.js"></script>
</head>

<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="menu-inner-shadow"></div>
                <ul class="menu-inner py-1">
                    <li class="menu-item @(activeClass == "Dashboard" ? "active" : "")">
                        <a href="/Dashboard/" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Dashboard">Dashboard</div>
                        </a>
                    </li>

                    <li class="menu-header small text-uppercase"><span class="menu-header-text">Tablolar</span></li>

                    <li class="menu-item @(activeClass == "About" ? "active" : "")">
                        <a href="/About/" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-spreadsheet"></i>
                            <div data-i18n="About">Hakkımda</div>
                        </a>
                    </li>
                    <li class="menu-item @(activeClass == "Experience" ? "active" : "")">
                        <a href="/Experience/" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-briefcase-alt"></i>
                            <div data-i18n="Experience">Deneyimlerim</div>
                        </a>
                    </li>
                    <li class="menu-item @(activeClass == "Education" ? "active" : "")">
                        <a href="/Education/" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-trip"></i>
                            <div data-i18n="Education">Eğitimim</div>
                        </a>
                    </li>
                    <li class="menu-item @(activeClass == "Skill" ? "active" : "")">
                        <a href="/Skill/" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-stats"></i>
                            <div data-i18n="Skill">Yeteneklerim</div>
                        </a>
                    </li>
                    <li class="menu-item @(activeClass == "Interest" ? "active" : "")">
                        <a href="/Interest/" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-brush"></i>
                            <div data-i18n="Interest">İlgi Alanlarım</div>
                        </a>
                    </li>
                    <li class="menu-item @(activeClass == "Awards" ? "active" : "")">
                        <a href="/Awards/" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-award"></i>
                            <div data-i18n="Awards">Ödüllerim &amp; Sertifikalarım</div>
                        </a>
                    </li>
                    <li class="menu-item @(activeClass == "SocialMedia" ? "active" : "")">
                        <a href="/SocialMedia/" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-network-chart"></i>
                            <div data-i18n="Awards">Sosyal Medyalarım</div>
                        </a>
                    </li>

                    <li class="menu-header small text-uppercase"><span class="menu-header-text">Profil</span></li>
                    <li class="menu-item @(activeClass == "Profile" ? "active" : "")">
                        <a href="/Profile/" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-user-circle"></i>
                            <div data-i18n="Profile">Profilim</div>
                        </a>
                    </li>
                    <li class="menu-item @(activeClass == "LogOut" ? "active" : "")">
                        <a href="/LogOut/" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-log-out"></i>
                            <div data-i18n="LogOut">Çıkış Yap</div>
                        </a>
                    </li>
                </ul>
            </aside>
            <div class="layout-page">
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                     id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    @* buradan *@

                    @await Component.InvokeAsync("AdminTopNavBarList")

                    @* buraya kadar *@
                </nav>
                <div class="content-wrapper">

                    @RenderBody()
                </div>

                <div class="content-backdrop fade"></div>
            </div>
        </div>
    </div>
    <div class="layout-overlay layout-menu-toggle"></div>
    <script src="~/sneat/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/sneat/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/sneat/assets/vendor/js/bootstrap.js"></script>
    <script src="~/sneat/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/sneat/assets/vendor/js/menu.js"></script>
    <script src="~/sneat/assets/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="~/sneat/assets/js/main.js"></script>
    <script src="~/sneat/assets/js/dashboards-analytics.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
