@using EntityLayer.Concrete
@model List<Education>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <div class="table-responsive text-nowrap">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Eğitim Yeri</th>
                            <th>Eğitim Alanı</th>
                            <th>Tarih</th>
                            <th>Açıklama</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><strong></strong>@item.EducationID</td>
                                <td>@item.EducationTitle</td>
                                <td>@item.EducationPlace</td>
                                <td>@item.Date</td>
                                @if (item.Description.Length > 10)
                                {
                                    <td>@item.Description.Substring(0, 10)...</td>
                                }
                                else
                                {
                                    <td>@item.Description</td>
                                }
                                <td><a href="/Education/DeleteEducation/@item.EducationID" class="btn btn-outline-danger" onclick="return confirm('Gerçekten silmek istiyor musunuz?')"><span class="tf-icons bx bx-error-alt"></span>&nbsp; Sil</a></td>
                                <td><a href="/Education/EditEducation/@item.EducationID" class="btn btn-outline-success"><span class="tf-icons bx bx-pencil"></span>&nbsp; Güncelle</a></td>

                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    <br />
    <div style="text-align: left;">
        <a href="/Education/AddEducation/" class="btn btn-outline-info">
            <span class="tf-icons bx bx-clipboard"></span>&nbsp; Eğitim Ekle
        </a>
    </div>
</div>