@using EntityLayer.Concrete
@model List<About>

            @foreach (var item in Model)
                {
            <h1 class="mb-0">
                @item.Name
                <span class="text-primary">@item.Surname</span>
            </h1>
            <div class="subheading mb-5">
                @item.ShortAddress · @item.LongAddress · @(item.Telephone.Replace("+90", "").Trim().Insert(0, "(+90) ").Insert(11, " ").Insert(14, " ")) ·
                <a href="mailto:@item.Email">@item.Email</a>
            </div>
            <p class="lead mb-5">@item.Description</p>
                }
