@using EntityLayer.Concrete
@model List<About>

    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
            @foreach (var item in Model)
                {
            <h1 class="mb-0">
                @item.Name
                <span class="text-primary">@item.Surname</span>
            </h1>
            <div class="subheading mb-5">
                @item.ShortAddress · @item.LongAddress · @(item.Telephone.Replace("+90", "").Trim().Insert(0, "(+90) ").Insert(11, " ").Insert(14, " ")) ·
                <a href="mailto:@item.Email">@item.Email</a>
            </div>
            <p class="lead mb-5">@item.Description</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/fleizean/">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/fleizean">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://twitter.com/onlyflei">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/fleizean/">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
                }
        </div>
    </section>